@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 209, 209);
  width: 1200px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  padding: 30px;
}

.header__title {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(26, 81, 21, 0.8);
}

.search__forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search__inputs {
  display: flex;
  gap: 3rem;
}

.search__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search__input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.srch__btn {
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  font-size: 1.1rem;
}

.table__container {
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 20px;
}

.table__head {
  display: flex;
  align-items: center;
  gap: 20px;
}

.table__contents {
  background-color: rgb(177, 182, 177);

}

.btn-arrow {
  width: 50px;
  background-color: #48c78e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
}

.footer {
  background-color: rgb(211, 209, 209);
}

.btn__load {
  margin-left: 50px;
}